.content-section-con-2{
    width: 100%;
    background-color: rgb(12, 38, 68);
    height:80vh;
}
.content-section-4{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.con-4{
    width:300px;
    height:50vh;
    padding: 10px;
}
.con-4 p{
    font-size: 17px;
}
.con-4 img{
    width: 170px;
    height: 75px;
}
.con-4 .icon2{
    color: dodgerblue;
}
footer{
    color: white;
    text-align: center;
}
 